*{
	margin: 0;
	padding: 0;
}

body{
	background: url('./images/background.jpg');
	background-color: beige !important;	
}

ul{
	list-style: none;
}

.game{
	display: flex;
}

.game-info{
	display: flex;
	flex-direction: column;
}

.game-list{
	margin: 0;
	padding: 5px;
	border: 1px solid grey;
}

.welcome,.games,.game,.game-field,.games-list,.game-info,.game-rules,.game-statistics,.about,.statistics{
	background-color: white;
	border-radius: 10px;
	margin: 20px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

.game-image{
	width: 100px;
	height: 100px;
	margin: 10px;
}

.card,.field-card{
	margin: 5px;
	width: 50px;
	height: 70px;
	color: white;
	font-weight: bold;
}

.card{
	background-color: #BA323C;
}

.field-card{
	background-color: #C94550;
}

.auth-btn{
	padding: 5px;
	background-color: #B7B7BF;
	color:#6A6D72;
}

