extends _shared/_master

block content
    div.statistics
        h3 Best players for all time!!!
        h4 Player - Total score
        ul.players-list
            each result in context
                hr
                li.player-list
                    span #{result.username}  -  #{result.score}