extends ../_shared/_master

block content
    div.games-list
        p List of games to play
        ul
            each game in context
                li.game-list
                    a(href="games/"+game.gameId) #{game.name}
                    br
                    img.game-image(src="/public/css/images/"+game.name+".jpg")        