extends ../_shared/_master

block content
    p List of games and pictures -- To Do
    ul
        each game in context
            li
                a(href="games/"+game.gameId) #{game.name}, #{game.gameId}              