extends ../_shared/_master
block scripts
    script(src="/public/scripts/requester.js")
    script(src="/public/scripts/data.js")
    script(src="/public/scripts/game-logic.js")
    link(rel='stylesheet', type='text/css', href='/public/css/loader.css')
block content
    div#loader
    div#field.game-field(style='display:none;')
        p
            |#{context.players.length} players
        button#new-game.btn.btn-primary(type='button', data-toggle='modal', data-target='#newGame-modal') New Game
        div.panel.panel-default
            div.panel-body
                p Numbers go down &#8595
                button#pile1.btn.field-card 100
                button#pile2.btn.field-card 100
            div.panel-body
                p Numbers go up &#8593
                button#pile3.btn.field-card 1
                button#pile4.btn.field-card 1
        div.well
            button#card1.btn.card
            button#card2.btn.card
            button#card3.btn.card
            button#card4.btn.card
            button#card5.btn.card
            button#card6.btn.card
            button#card7.btn.card
            button#card8.btn.card
        div.well
            span Cards left:
            span#leftCards 90
        button#end-turn.btn.btn-default End Turn
        div#endTurn-modal.modal.fade(role='dialog')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title Cannot end turn
                    div.modal-body
                        p You have to use at least two cards to end your turn.
                div.modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
        div#newGame-modal.modal.fade(role='dialog')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title Are you sure you want to start a new game?
                    div.modal-body
                        p Your current game will not be saved.
                div.modal-footer
                    button#yes.btn.btn-default(type='button', data-dismiss='modal') Yes
                    button#no.btn.btn-default(type='button', data-dismiss='modal') No