extends ../_shared/_master
block scripts
    script(src="/public/scripts/game-logic.js")
block content
    div.game-field
        p
            |#{context.players.length} players
        div.panel.panel-default
            div.panel-body
                p Numbers go down &#8595
                button#pile1.btn.field-card 100
                button#pile2.btn.field-card 100
            div.panel-body
                p Numbers go up &#8593
                button#pile3.btn.field-card 1
                button#pile4.btn.field-card 1
        div.well
            button#card1.btn.card
            button#card2.btn.card
            button#card3.btn.card
            button#card4.btn.card
            button#card5.btn.card
            button#card6.btn.card
            button#card7.btn.card
            button#card8.btn.card
        div.well
            span Cards left:
            span#leftCards 90
        button#end-turn.btn.btn-default End Turn
        button#new-game.btn.btn-primary New Game